body{
    background-image: url(/img/wallpaper_deathstar.jpg);
    background-color: #050000;
    font-family: 'Gemunu Libre';
}

.port, ul{
    border: 1px solid rgba(219, 223, 236, 0.87);
    background-color: #1c1c1c;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.port ul, li{
    
    display: inline-block;
    padding-right: 48px;

}

a{
    list-style: none;
    text-align: left;
    color: aliceblue;
    text-decoration: none;
    font-size: 35px;
    
}

a:hover{
    color: rgb(0, 87, 248);
}

img, a{
    height: 70px;
}

footer{
    text-align: center;
    background-position: 0% 0%;
    background-attachment: scroll;
    position: fixed;
    color: aliceblue;
    bottom: 0pt;
}





/* parte da imagem redes sociais*/



.contato{
    margin: 100px;
    font-size: 80px;
    text-align: center;
    color: white;
}


div{
    font-size: 35px;
    text-align: center;
    color: white;
}

.icon{
    
    padding: 8%;
    display: flex;
}

.icon a{
    margin-right: auto;
    margin-left: auto;
    display: block;
    
}



/*
<link href="https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap" rel="stylesheet">

Hina Min  */










